<%= form_with(model: profile, local: true) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :biography %>
    <%= form.text_area :biography %>
  </div>

  <div class="field">
    <%= form.label :instagram_username %>
    @<%= form.text_field :instagram_username %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.select(:gender, options_for_select(['Male', 'Female', 'Other']), :include_blank => "Select a gender..") %>
  </div>

  <div class="field">
    <%= form.label :age_bracket %>
    <%= form.select(:age_bracket, options_for_select(['18-25', '25-35', '35-45', '45+']), :include_blank => "Select an age bracket..") %>
  </div>

  <div class="field">
    <%= form.label :lifestyle %>
    <%= form.select(:lifestyle, options_for_select(['Bodybuilder', 'Fitness Model', 'Powerlifter','Athlete','Swimmer', 'Cyclist', 'Sports Player', 'Martial Artist', 'Vegan']), :include_blank => "Select a lifestyle..") %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
