<div class="container form-top">
    <h1>Profiles</h1>

        <% @profiles.each do |profile| %>
            <%= profile.biography %>
            <a href="https://www.instagram.com/<%= profile.instagram_username %>"target="_blank"><%= profile.instagram_username %></a>
            <%= profile.age_bracket %>
            <%= profile.gender %>
            <%= profile.lifestyle %>
            <%= profile.user.email %>
            <%= link_to 'Show', profile %>
            <% if current_user == profile.user %>
            <%= link_to 'Edit', edit_profile_path(profile) %>
            <%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        <% end %> 
        
</div>