<div class="container-profile">
    <h1 class="text-center">PROFILES</h1>
    <div class="row">
    <% @profiles.each do |profile| %>
        <div class="col-lg-3
            col-sm-10 mx-auto mb-4">
            <div class="card">
            <%= link_to profile do %>
                <%= image_tag(profile.image, class: "card-img-top reframe center") %>
            <% end %>
                <div class="card-body">
                    <div class="card-title">
                        <h3 class="text-muted text-center"><%= profile.instagram_username %></h3>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center text-secondary"><%= profile.lifestyle %></p>
                    </div>
                    <div class="text-center">
                        <%= link_to 'View Profile', profile, class: "btn buy" %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

