<div class="container form-top">
  <p id="notice"><%= notice %></p>
  <aside>
    <p>
      <strong>Biography:</strong>
      <%= @profile.biography %>
    </p>

    <p>
      <strong>Instagram username:</strong>
      <a href="https://www.instagram.com/<%= @profile.instagram_username %>"target="_blank"><%= @profile.instagram_username  %></a>
    </p>

    <p>
      <strong>Age bracket:</strong>
      <%= @profile.age_bracket %>
    </p>

    <p>
      <strong>Gender:</strong>
      <%= @profile.gender %>
    </p>

    <p>
      <strong>Lifestyle:</strong>
      <%= @profile.lifestyle %>
    </p>

    <p>
      <strong>User:</strong>
      <%= @profile.user.email %>
    </p>
  <aside>
  <div>
    <% @user.products.each do |product| %>
      <%= image_tag(product.image, width: '300') %>
      <%= product.title %>
      <%= product.description %>
      <%= link_to "View Product", product %>
      <%= form_tag charges_path do %>
      <article>
        <% if flash[:error].present? %>
          <div id="error_explanation">
            <p><%= flash[:error] %></p>
          </div>
        <% end %>
      </article>
      <%= hidden_field_tag(:product_id, product.id)%>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="<%product.title%>"
              data-amount="<%product.price%>"
              data-currency=AUD
              data-locale="auto"></script>

    <% end %>
      <% end %>

    <% if current_user == @profile.user %>
      <%= link_to 'Edit', edit_profile_path(@profile) %> |
      <td><%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <%= link_to 'Back', profiles_path %>
  </div>
</div>