  <div class="container-profile">
    <div class="row">
        <div class="col-lg-4">
            <div class="cardshow">
                <%= image_tag(@profile.image, class: "card-img-top reframe center") %>
                <div class="cardshow2">
                    <div class="card-title">
                        <h3 class="text-muted text-center"><%= @profile.instagram_username %></h3>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center text-secondary"><%= @profile.lifestyle %></p>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center text-secondary"><%= @profile.gender %></p>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center text-secondary"><%=  @profile.age_bracket %></p>
                    </div>
                    <div class="card-subtitle">
                        <p class="text-center text-secondary"><%=  @profile.biography %></p>
                    </div>
                </div>
            </div>
        </div>
  <div class="row">
  <% @user.products.each do |product| %>
  <div class="col-lg-9">
          <div class="card">
          <%= link_to product do %>
              <%= image_tag(product.image, class: "card-img-top reframe center") %>
          <% end %>
              <div class="card-body">
                  <div class="card-title">
                      <h3 class="text-muted text-center"><%= product.title %></h3>
                  </div>
                  <div class="card-subtitle">
                      <p class="text-center text-secondary"><%= product.description %></p>
                  </div>
                  <div class="text-center">
                     <%= link_to "View Program", product, class: "btn buy" %>
                  </div>
              </div>
          </div>
  <% end %>
  </div>
</div>