<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>By:</strong>
  <br>
  <%= link_to(@product.user.profile) do %>
    <%= @product.user.email %>
  <% end %>
  <br>
  <%= link_to(@product.user.profile) do %>
    <%= @product.user.profile.instagram_username %>
  <% end %>
  
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
