<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <%= image_tag(@product.image, width: '300') %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@product.price/ 100.0) %>
</p>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      BUY NOW!
    </label>
  </article>
  <%= hidden_field_tag(:product_id, @product.id)%>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="<%@product.title%>"
          data-amount="<%@product.price%>"
          data-currency=AUD
          data-locale="auto"></script>

<% end %>

<%= link_to "View Program", @product.file, target: :_blank %>

<p>
  <strong>By:</strong>
  <br>
  <%= link_to(@product.user.profile) do %>
    <%= @product.user.email %>
  <% end %>
  <br>
  <%= link_to(@product.user.profile) do %>
    <%= @product.user.profile.instagram_username %>
  <% end %>
  
</p>



<% if current_user == @product.user %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>
