<!DOCTYPE html>
<html>
  <head>
    <title>GitFit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <p> Welcome <%=current_user.email %></p>
      <% if current_user.profile == nil %>
        <%= link_to('Become A Seller', new_profile_path)  %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
      <% else %>
        <%= link_to('Sell Your Program', new_product_path)  %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
      <% end %>      
    <% else %>
      <%= link_to('Sell Your Program', new_user_registration_path)  %>
      <%= link_to('Login', new_user_session_path)  %>  
      <%= link_to('Sign Up', new_user_registration_path)  %>
    <% end %>
    <%= yield %>
  </body>
</html>
